bomba{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  padding: 10px 20px;
  background-color: #ffffff;
  color: white;
  border: none;
  border-radius: 5px;
}

video{
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  right: 0;
  bottom: 0;
}


.botao {
  background-color: #7b7c7c;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  position: fixed;
  transition: 0.3s;
  border-radius: 8px;
  margin: 4px 2px;
}

.botao:hover {
  background-color: #10845c;
  border-radius: 4px;
}
