#bomba{
  position: fixed;
  z-index: 1000;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: #7b7c7c;
  font-size: 5rem;
  transition: 0.3s;
  border-radius: 8px;
  margin-top: 90rem;
  opacity: .9;
  color: #f1f1f1;
  font-family: 'Orbitron';
  font-weight: 800;
  letter-spacing: .5rem;
  word-spacing: 1rem;
  transition: opacity 5.5s;
  transition-timing-function: cubic-bezier(1, 0, .99, 0);
}

#bomba:hover {
  background-color: #10845c;
  border-radius: 4px;
  opacity: 1;
}

.botao{
  display: flex;
  align-items: center;
  justify-content: center;
}

video{
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  right: 0;
  bottom: 0;
}

#title{
  position: fixed;
  z-index: 1000;
  color: #ffffff;
  margin-top: 45rem;
  font-size: 6rem;
  font-family: 'Bangers';
  letter-spacing: .25rem;
}
