bomba{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  padding: 10px 20px;
  background-color: #ffffff;
  color: white;
  border: none;
  border-radius: 5px;
}

video{
  position: fixed;
  min-width: 90%;
  min-height: 90%;
  right: 0;
  bottom: 0;
}


.botao {
  position: fixed;
}
